{% extends 'base.html.twig' %}
{% block body %}
<div>
<h1> I am here {{name}}</h1>
<h1> I Love you {{name}}</h1>
<h1> I Care for you {{name}}</h1>


<label>Woah </label>


 {{name}} Self care is a key component, take care of your self. Mentally and
</div>
{% endblock body %}